<div class="profile-container">
  <div class="search-container">
    <label for="idsearch" class="search-label">Search ID:</label>
    <input id="idsearch" type="number" min="1" max="10" class="search-input" (keypress)="keyUpHandler($event)">
  </div>


  <div *ngIf="profile() as user" class="profile-card">
    <h2>{{ user.name }}</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <div class="address">
      <h3>Address</h3>
      <p><strong>Street:</strong> {{ user.address.street }}</p>
      <p><strong>Suite:</strong> {{ user.address.suite }}</p>
      <p><strong>City:</strong> {{ user.address.city }}</p>
      <p><strong>Zipcode:</strong> {{ user.address.zipcode }}</p>
      <p><strong>Geo:</strong> ({{ user.address.geo.lat }}, {{ user.address.geo.lng }})</p>
    </div>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Website:</strong> <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></p>
    <div class="company">
      <h3>Company</h3>
      <p><strong>Name:</strong> {{ user.company.name }}</p>
      <p><strong>Catchphrase:</strong> "{{ user.company.catchPhrase }}"</p>
      <p><strong>BS:</strong> {{ user.company.bs }}</p>
    </div>
  </div>
</div>
